body {
    background-color: $floral-white;
}

//fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@mixin montserrat($fontSize, $weight) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-size: $fontSize;
    font-style: normal;
}

// buttons
.btn {
    box-sizing: border-box !important;

    &--big {
        padding: 18px 53px;
    }

    &--small {
        font-size: 16px !important;
    }

    &.btn-primary {
        background-color: $dark-main;
        border: solid 1px $dark-main;
        @include montserrat(18px, 500);

        &:active {
            background-color: $floral-white;
            color: $dark-main;
            border: solid 1px $dark-main;
        }
    }
}

// heading
.heading-main {
    @include montserrat(40px, 700);
    color: $dark-main;
}

.card {
    .card-img-top {
        object-fit: cover;
        width: 100%;
        height: 290px;
    }

    .card-body {
        background-color: $dust-storm;
    }

    &-title {
        @include montserrat(16px, 700);
    }

    &-price {
        @include montserrat(16, 700);
    }
}

.text {
    &--main {
        @include montserrat(12, 700);
        color: $dark-main;
    }
}

.width {
    &--fit {
        width: fit-content;
    }
}
