// colors
$black: #000000;
$cafe-noir: #4f3527;
$dark-main: #2a1b12;
$dust-storm: #ddc7bb;
$floral-white: #fef7f2;
$white: #ffffff;

// media query
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
