@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #fef7f2;
}

.btn {
  box-sizing: border-box !important;
}
.btn--big {
  padding: 18px 53px;
}
.btn--small {
  font-size: 16px !important;
}
.btn.btn-primary {
  background-color: #2a1b12;
  border: solid 1px #2a1b12;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
}
.btn.btn-primary:active {
  background-color: #fef7f2;
  color: #2a1b12;
  border: solid 1px #2a1b12;
}

.heading-main {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  color: #2a1b12;
}

.card .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 290px;
}
.card .card-body {
  background-color: #ddc7bb;
}
.card-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
}
.card-price {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16;
  font-style: normal;
}

.TS-card {
  width: 300px;
  margin: auto;
  border-radius: 18px;
  overflow: hidden;
  background-color: #ddc7bb;
}
.TS-card__image {
  width: 100%;
}
.TS-card__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 169px;
}
.TS-card .card-profile-img {
  border-radius: 100px;
  overflow: hidden;
  width: 58px;
  height: 58px;
  -o-object-fit: cover;
     object-fit: cover;
}
.TS-card__rating {
  background-color: #ffffff;
  border-radius: 8px;
}
.TS-card__rating .star {
  color: #ffc71e;
}
.TS-card__rating .rating {
  line-height: 24px;
}

.text--main {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 12px;
  font-style: normal;
}
.text--large {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
}
.text--normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
}
.text--16 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
}
.text--black {
  color: #2a1b12;
}
.text--bold {
  font-weight: 700 !important;
}

.width--fit {
  width: -moz-fit-content;
  width: fit-content;
}

.navbar {
  z-index: 9;
  position: fixed;
  width: 100%;
  background-color: #fef7f2;
}
@media (max-width: 768px) {
  .navbar {
    box-shadow: 0px 3px 8px -3px rgba(0, 0, 0, 0.75);
  }
}
.navbar .navbar-brand {
  cursor: pointer;
}
.navbar .navbar-brand .logo {
  height: 29px;
  width: 93px;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-nav .nav-item {
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar .navbar-nav .nav-item {
    border-bottom: solid 1px #2a1b12;
  }
  .navbar .navbar-nav .nav-item:last-child {
    border: none;
  }
}
.navbar .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
}

.hero-main {
  height: 100vh;
}
.hero-main .hero-image {
  width: 100%;
}
.hero-main .hero-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
}

.main-section-maincontainer {
  background-color: #ffffff;
}
.main-section-maincontainer .section-one__image {
  display: block;
  width: 100%;
}
.main-section-maincontainer .section-one__heading {
  color: #2a1b12;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  margin-bottom: 32px;
}
@media (max-width: 1200px) {
  .main-section-maincontainer .section-one__heading {
    font-size: 30px;
  }
}
.main-section-maincontainer .section-one__desc {
  color: #4f3527;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  margin-bottom: 48px;
}
@media (max-width: 1200px) {
  .main-section-maincontainer .section-one__desc {
    font-size: 16px;
  }
}
.main-section-maincontainer .section-one__quantity {
  color: #4f3527;
  text-shadow: 4px 4px 30px rgba(0, 0, 0, 0.53);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
}
@media (max-width: 1200px) {
  .main-section-maincontainer .section-one__quantity {
    font-size: 30px;
  }
}
.main-section-maincontainer .section-one__label {
  color: #2a1b12;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
}
@media (max-width: 1200px) {
  .main-section-maincontainer .section-one__label {
    font-size: 15px;
  }
}
.main-section-maincontainer .section-two__desc {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
}
.main-section-maincontainer .section-two .st-card__container {
  background-color: #ddc7bb;
  border-radius: 18px;
  width: 95%;
  margin: auto;
  padding: 37px 24px;
  box-shadow: 20px 18px 0px -9px rgb(0, 0, 0);
}
.main-section-maincontainer .section-two .st-card__image {
  height: 83px;
  width: 83px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 21px;
}
.main-section-maincontainer .section-two .st-card__image .img {
  height: 70%;
}
.main-section-maincontainer .section-two .st-card__name {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  color: #2a1b12;
}
.main-section-maincontainer .section-two .st-card__label {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #4f3527;
  line-height: 130%;
}
.main-section-maincontainer .section-three {
  padding-bottom: 100px;
  overflow: hidden;
}
.main-section-maincontainer .section-three .slick-dots {
  bottom: -50px;
}

.contact-main-container {
  background-color: #ffffff;
}
.contact-main-container .input-email {
  background-color: #ddc7bb;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 8px;
  width: 50%;
}
@media (max-width: 768px) {
  .contact-main-container .input-email {
    width: 100%;
  }
}
.contact-main-container .input-email::-moz-placeholder {
  color: #000000;
}
.contact-main-container .input-email::placeholder {
  color: #000000;
}

.about-container {
  overflow: hidden;
}
.about-container .slick-track {
  display: flex !important;
}
.about-container .slick-slide {
  height: inherit !important;
}
.about-container .slick-slide > div {
  height: 100%;
}
.about-container .slick-slide > div .TS-card {
  height: 100%;
}

.footer-main {
  background-color: #ddc7bb;
}/*# sourceMappingURL=style.css.map */